body {
    background-color: #3c3c3c; 
    color: #fff; 
    font-family: 'Lato', sans-serif; 
    margin: 0; 
    padding: 0; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(195, 22, 178);
}

p {
    font-style: italic;
}

h2 {
    font-weight: bold;
    text-align: center;
}

div {
    display: block;
}

#img-div{
    margin: 10px;
    padding: 10px;
}

#image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

img {
    display: block;
}

#img-caption {
    margin-top: 10px;
}

#tribute-info {
    font-size: 1.1em;
    text-align: center;
}

ul {
    padding: 0;
}
.divider {
    border-bottom: 1px solid #fff;
    margin: 4px 0;
}

li {
    margin-bottom: 40px;
    font-size: 18px;
    letter-spacing: 1px;
}

#tribute-link {
    display: block;
    margin-top: 20px;
    color: #ffcc00; 
    text-decoration: none;
}

#tribute-link:hover {
    text-decoration: underline;
}
